@font-face {
    font-family: "Sacramento";
    font-style: normal;
    font-weight: 400; 
    src: url(http://themes.googleusercontent.com/static/fonts/sacramento/v1/WFDkXpubrEwopJnSlHV6CC3USBnSvpkopQaUR-2r7iU.ttf);
}

body {
    background-color: #fffaf0;
}

/*
*****************************************************************************
Title:  Style
Use:  To allow webpage to have style
Author:  Erica Suarez
School/Term:  University of Missouri, Summer Term 2020
Developed: June 29, 2020
Tested:  July 13, 2020; Passed on Chrome browser.
******************************************************************************
 */ 
h1 { color:	#9370db; font-size: xx-large; font-family: "Sacramento"; font-style: normal; border-style: double; text-align: center; background-color: #fffaf0} 
h3 { color: 	#9370db; font-size: large; }
h4 { color: 	#800080; font-size: medium; }
p { color: #c71585; }

p {margin: 15px;}

.tab { margin-left: 50px; }

* { color: #c71585; font-family: Arial, Helvetica, sans-serif;}

.right { text-align: right; } 
.left { text-align: left; }
.center { text-align: center; }
.justify { text-align: justify; } 


/*Footer*/ 

footer {
    border-top: double;
    padding:5px; 
} 

footer p { color: #800080; font-size: 13px; } 

footer a:link {
 color: #ff69b4;
}
footer a:visited {
 color: #a0522d;
}
footer a:hover {
 color: #32cd32;
 text-decoration: none;
 font-size: 10px
}
footer a:active {
 color: #7b68ee;
 }
footer a:focus {
 color: #ff8c00;
}
footer {
    background-image: url(images/footer5.jpg); max-width: 100%; max-height: none;
    background-position: left top;
    background-repeat: no-repeat; 
    background-size: cover; 
}
footer img {
    float: left;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px
}
.zoom:hover {transform: scale(1.2);}

img {
  float: none; padding :10px; margin: 20px;
}

@media only screen and (max-width: 640px) { 
	header {
		position: relative;
        height: 40px;
        display: block;
        background-color: cadetblue;
        width: 100%;        
}
}
    
/*Table*/
table {
    border: 1px solid #c71585; 
    border-collapse: collapse;
}
th, td {
    border: 1px solid #c71585; 
    padding: 0.2em 0.7em;
}
table {
    width: 100%;
}
thead {
    background-color: lavender;
}
tr:nth-child(even) {
  background-color: lightcyan;
} 
figcaption {
    display:block; 
    text-align: right; 
    font-size: 80%; 
    padding-bottom: 0.25em;
}
label {
    float: left; 
    width: 5em; 
    text-align: right; 
    font-family: Arial, Helvetica, sans-serif;  
}
input {
    margin-left: 1em; 
    margin-bottom: 0.5em; 
    font-family: Arial, Helvetica, sans-serif;
}
textarea {
    height: 5em; 
    width: 25em; 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0.75em;
}


    
    
/*Print Stylesheet*/
@media print { 
        *{ background: transparent !important;
            color: #000 !important;
            font-family: Georgia, serif !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }
        .main-nav, 
        .main-footer{
            display: none;
        }
        @page {
            margin: 1cm;
        }        
    }